@import "tailwindcss";

@font-face {
  font-family: 'Lora';
  src: url('/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: rgba(71, 71, 71, 0.50);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Lora', var(--font-geist-sans);
  --font-mono: 'Lora', var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #050505 0%, #1a1a1a 100%);
    /* --background: #171717; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Lora', Arial, Helvetica, sans-serif;
}


.text-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}